
<h3>Choose one of the tests given below:</h3>

<h3><a href="http://localhost:3000/signup">Physics</a><br></h3>
<h3><a href="http://localhost:3000/signup">Chemistry</a><br></h3>
<h3><a href="http://localhost:3000/signup">Math</a></h3>
