
<h2>Login to attempt a quiz</h2>
<form action="/tests" method="POST">

    <label for="email"><b>Email</b></label><br>
    <input type="email" placeholder="abc@gmail.com" name="email" required><br><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="********" name="password" required><br><br>

    <button type="submit">Login</button>

</form>