
<h2>Sign up to start the test</h2>

<form action="/login" method="POST">
    
    <label for="name"><b>Name</b></label><br>
    <input type="text" placeholder="Enter your name" name="name" required><br><br>

    <label for="email"><b>Email</b></label><br>
    <input type="email" placeholder="abc@gmail.com" name="email" required><br><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="********" name="password" required><br><br>

    <label for="phone"><b>Phone Number</b></label><br>
    <input type="number" placeholder="XXXX-XXXXXXX" name="phone" required><br><br>

    <button type="submit">Sign up</button>

</form>

<h3>Already a user? <a href="http://localhost:3000/login">Login</a></h3>